
mat-dialog-container {
  background: inherit !important;
  box-shadow: none !important;
}

mat-dialog-container:before {
  content: '';
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  position: absolute;
  height: 65% !important;
  width: 40% !important;
  border-radius: 15px;
  margin: 0 auto 0 auto;
  margin-top: 7%;
  z-index: -1;
  padding-top: 10%;
  box-shadow: inset 0 0 3000px rgba(255, 255, 255, .3);
  filter: url('#blur');
  filter: blur(0.1px);
}

body {
  font-family: "Helvetica Neue LT Pro - Ultra Light", Arial, sans-serif;
  background: inherit;
  color: white;
}

* {
  box-sizing: border-box
}

html {
  overflow: auto;
  background: inherit;
  /*filter: blur(95px);*/
}

.container-all:before .mat-dialog-container {
  content: '';
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  position: absolute;
  height: 950px;
  width: 25%;
  border-radius: 15px;
  margin: 0 auto 0 auto;
  margin-top: 4%;
  z-index: -1;
  padding-top: 10%;
  box-shadow: inset 0 0 3000px rgba(255, 255, 255, .3);
  filter: url('#blur');
  filter: blur(0.1px);
}

.container-all .mat-dialog-container {
  overflow: auto;
  background: inherit;
  height: 1080px;
  width: 40%;
  padding-top: 4%;
  margin: 0 auto 0 auto;
}

.mat-dialog-container {
  filter: blur(0.1px);
  background: inherit;
}

.row {
  background: inherit;
  width: 100%;
  margin: 0 auto 0 auto;
  color: #fff;
}

#form {
  overflow: scroll;
  border-color: whitesmoke;
  border-radius: 5px;
  background: inherit;
  width: 100%;
}

.text-desc {
  font-family: "Helvetica Neue LT Pro - Light", Roboto, monospace;
  font-size: 40px;
  margin: 0 auto 0 auto;
  width: 65%;
  background: inherit;
}

.form-group {
  border-width: 2px;
  border-color: whitesmoke;
  border-radius: 5px;
  background: inherit;
  width: 100%;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email], input[type = number], input [type=datetime-local],
input[type=checkbox], select, option {
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ccc;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  font-family: "Helvetica Neue LT Pro - Light", Arial, sans-serif;
  font-size: 110%;
  background: inherit;
  color: white;
  border-radius: 25px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  color: white;
  left: 0;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-image: linear-gradient(to bottom right, #993399, #3385ff);
  border-width: 2px;
  border-color: #993399;
  left: -100%;
}

.loginbtn:hover {
  color: white;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  background-image: linear-gradient(to bottom right, #383838, #282828);
}

.loginbtn {
  color: black;
  padding: 14px 20px;
  background-image: linear-gradient(to bottom right, #ffffff, #ffffff, #ffffff, #ffffff);
  left: -100%;
}

.signupbtn {
  padding: 14px 20px;
  background-image: linear-gradient(to bottom right, #3385ff, #00ffa5);
}

.signupbtn:hover {
  transition-delay: 0.1s;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  background-image: linear-gradient(to bottom right, #00ffa5, #3385ff);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn, .loginbtn {
  float: left;
  width: 100%;
  transition-delay: 0.1s;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.cancelbtn:hover {
  float: left;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;
  background-image: linear-gradient(to bottom right, #3385ff, #993399);
}

/* Add padding to container elements */
.container {
  overflow: auto;
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn, .loginbtn {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) {
  .container-all:before {
    width: 400px;
    height: 950px;
  }
}

@media screen and (max-width: 1500px) {
  .container-all {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .container-all {
    width: 100%;
    height: 100%;
  }

  .container-all:before {
    width: 100%;
    height: 950px;
  }
}
