<html>

<body>

<div *ngIf = "added; else flightForm">
  Price list edited successfully.
</div>



<ng-template #flightForm>
  <div class="container-all">
    <div class="row col-sm-6" style="max-width:350px;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

        <div class="form-group">
          <div class="text-desc">
            EDIT FLIGHT
          </div>
        </div>

        <div class="form-group">
          <label for="thePlace1">Departure place</label>
          <label>
            <select [(ngModel)]="DTO.departure.thePlace" [ngModelOptions]="{standalone: true}" name="departure" #inputEl1 required>
              <option *ngFor="let departure of destinations" [ngValue]="departure" [value]="departure" >{{departure}}</option>
            </select>
          </label>
        </div>

        <div class="form-group">
          <label for="theTime1">Departure time</label>
          <input type="datetime-local" class="form-control" name="theTime1" [(ngModel)]="DTO.departure.theTime" #inputEl2 required />
        </div>

        <button *ngIf="DTO.transfers.length < 2" class="loginbtn" (click)="plusOne()" #inputEl3 >Add a destination</button>

        <div class="form-group" *ngIf="DTO.transfers.length >= 1" >
          <label for="thePlace2">Transfer place 1</label>
          <label>
            <select *ngIf="DTO.transfers?.length" [(ngModel)]="DTO.transfers[0].thePlace" [ngModelOptions]="{standalone: true}" #inputEl4 name="transfer" required>
              <option *ngFor="let transfer of destinations" [ngValue]="transfer" [value]="transfer" >{{transfer}}</option>
            </select>
          </label>
        </div>

        <div class="form-group" *ngIf="DTO.transfers.length >= 1">
          <label for="theTime2">Transfer time 1</label>
          <input #inputEl5 *ngIf="DTO.transfers?.length" type="datetime-local" class="form-control" name="departure" [(ngModel)]="DTO.transfers[0].theTime" />
        </div>

        <div class="form-group" *ngIf="DTO.transfers.length >= 2" >
          <label for="thePlace3">Transfer place 2</label>
          <label>
            <select #inputEl6 *ngIf="DTO.transfers?.length" [(ngModel)]="DTO.transfers[1].thePlace" [ngModelOptions]="{standalone: true}" name="transfer" required>
              <option *ngFor="let transfer of destinations" [ngValue]="transfer" [value]="transfer" >{{transfer}}</option>
            </select>
          </label>
        </div>

        <div class="form-group" *ngIf="DTO.transfers.length >= 2" >
          <label for="theTime3">Transfer time 2</label>
          <input #inputEl7 *ngIf="DTO.transfers?.length" type="datetime-local" class="form-control" name="departure" [(ngModel)]="DTO.transfers[1].theTime" />
        </div>

        <div class="form-group">
          <label for="thePlace4">Arrival place</label>
          <label>
            <select #inputEl8 [(ngModel)]="DTO.arrival.thePlace" [ngModelOptions]="{standalone: true}" name="arrival" required>
              <option *ngFor="let arrival of destinations" [ngValue]="arrival" [value]="arrival" >{{arrival}}</option>
            </select>
          </label>
        </div>

        <div class="form-group">
          <label for="theTime4">Arrival time</label>
          <input #inputEl9 type="datetime-local" class="form-control" name="arrival" [(ngModel)]="DTO.arrival.theTime" required />
        </div>

        <div class="form-group">
          <label for="distance">Distance</label>
          <input #inputEl10 type="number" class="form-control" name="distance" [(ngModel)]="DTO.distance" required />
        </div>

        <div class="form-group">
          <label for="travelTime">Travel time</label>
          <input #inputEl11 type="number" class="form-control" name="travelTime" [(ngModel)]="DTO.travelTime" required />
        </div>

        <div class="form-group">
          <button class="signupbtn btn" >ADD</button>
          <div *ngIf="f.submitted && failed" class="alert alert-warning">
            Failed!<br/>{{errorMessage}}
          </div>
          <button class="cancelbtn btn" (click)="cancel()">UPDATE</button>
          <button class="loginbtn btn" type="button" (click)="edit()">EDIT</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>

</body>

</html>
