<app-header #header (featureSelected)="onNavigate($event)"></app-header>

<html>

<body>


<div class="container-all">
  <div class="row col-sm-6" style="max-width:350px;">

    <div class="form-group">
      <div class="text-desc">
        PROFILE
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="airlineCompanyAdmin.password"
             #password="ngModel" minlength="6" [disabled]="true" #inputEl1/>
      <div *ngIf="password.invalid">
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Repeat password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="passwordRepeat" minlength="6"/>
      <div *ngIf="password.invalid">
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="firstName">Your name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="airlineCompanyAdmin.firstName"
             [disabled]="true" #inputEl2/>
    </div>
    <div class="form-group">
      <label for="lastName">Your last name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="airlineCompanyAdmin.lastName"
             [disabled]="true" #inputEl3/>
    </div>
    <div class="form-group">
      <label for="city">Your city</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="airlineCompanyAdmin.city" [disabled]="true"
             #inputEl4/>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" name="phoneNumber" [(ngModel)]="airlineCompanyAdmin.phoneNumber"
             minlength="9" [disabled]="true" #inputEl5/>
    </div>

    <div class="form-group">
      <button class="signupbtn btn" (click)="clickSave()">SAVE</button>
      <button class="cancelbtn btn" (click)="clickCancel()">CANCEL</button>
    </div>
    <div class="form-group">
      <button class="loginbtn btn" (click)="clickChange()">EDIT</button>
    </div>
  </div>
</div>

</body>

</html>
