.nav {
  /*margin-bottom: 30px;*/
}
.container-fluid {
  background: white;
  border-radius: 25px;
  margin-left: 0;
  color: black;
  display: inline-block;
  width: 100%;
}
.navbar-header {}
.navbar-brand {}
.collapse {}
.navbar-collapse {}
.navbar-nav {}
.navbar-left {
  width: 70%;
  float: left;
}
.navbar-right {
  width: 20%;
  float: right;
}
ul {
  display: inline-block;
  padding-inline-start: 20px;
  /*margin: 0 auto;*/
  /*padding-inline-end: 20px;*/
}
li {
  font-size: 20px;
  display: inline-block;
  margin: 0 auto;
  margin-right: 10px;
}
